{% extends 'base.html' %}
{% block body %}
    

    <main>
        <section class="abt-01">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="seting">
                            <h3>About us</h3>
                            <ol>
                                <li>Home <i class="fas fa-chevron-double-right"></i></li>
                                <li>About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================bg-02 section================= -->

        <section class="bg-02">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="content">
                            <h2>We are the top learning platform</h2>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dignissimos, harum
                                cum vitae delectus voluptates fuga mollitia
                                cumque obcaecati praesentium quas nostrum adipisci voluptate nobis! Vitae aperiam iusto
                                corrupti sunt.</p>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dignissimos, harum
                                cum vitae delectus voluptates fuga mollitia
                                cumque obcaecati praesentium quas nostrum adipisci voluptate nobis! Vitae aperiam iusto
                                corrupti sunt.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="content">
                            <div class="shap-img">
                                <img class="shap-img-1" src="static/assets/images/abt/1.jpg">
                                <img class="shap-img-2" src="static/assets/images/abt/2.jpg">
                                <img class="shap-img-3" src="static/assets/images/abt/3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================bg-04 section================= -->

        <section class="bg-04">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="cal-01">
                            <i class="fal fa-university"></i>
                            <div class="counting" data-count="50">0</div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="cal-01">
                            <i class="fal fa-graduation-cap"></i>
                            <div class="counting" data-count="20">0</div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="cal-01">
                            <i class="fal fa-trophy"></i>
                            <div class="counting" data-count="75">0</div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="cal-01">
                            <i class="fal fa-chalkboard-teacher"></i>
                            <div class="counting" data-count="30">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================bg-05 section================= -->

        <section class="bg-05">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>Our Team</h2>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/1.jpg">
                            </div>
                            <div class="team-content">
                                <h3>James</h3>
                                <p>Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/3.jpg">
                            </div>
                            <div class="team-content">
                                <h3>Albert</h3>
                                <p>Art Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/2.jpg">
                            </div>
                            <div class="team-content">
                                <h3>Johns</h3>
                                <p>SEO</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/4.jpg">
                            </div>
                            <div class="team-content">
                                <h3>Smith</h3>
                                <p>Developer</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

      
{% endblock  %}