{% extends 'base.html' %}
{% block body %}
    
    <!-- =================banner section================= -->
   
    <main>
        <section class="banner">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/assets/images/slider/1.jpg" class="w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>BROADEN YOUR KNOWLEDGE WITH TUTORS</h5>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum est amet dolorum consectetur cupiditate? Doloremque saepe amet et iure 
                            illum nihil dolorem minima reiciendis quasi rerum atque dolorum, sapiente maxime!</p>
                            <ul>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/images/slider/2.jpg" class="w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>BROADEN YOUR KNOWLEDGE WITH TUTORS</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, laudantium, illo maiores et distinctio veniam temporibus officia incidunt 
                            eos necessitatibus dicta accusantium nemo architecto reprehenderit sint expedita atque asperiores velit.</p>
                            <ul>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="static/assets/images/slider/3.jpg" class="w-100" alt="...">
                        <div class="carousel-caption">
                            <h2>BROADEN YOUR KNOWLEDGE WITH TUTORS</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis optio iste magnam deserunt facere tempore maxime eligendi
                            amet, qui facilis dignissimos ipsam ea repellat, molestias officia quis, adipisci porro minima.</p>
                            <ul>
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>

        <!-- =================Why Choos section================= -->

        <section class="bg-01">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>WHY CHOOS US</h2>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="choose-wrapper">
                            <div class="content">
                                <div class="icon">
                                    <img src="static/assets/images/icons/think.png">
                                </div>
                                <div class="sentence">
                                    <h3>VARITY COURSES</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error
                                    quo sed nobis</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="choose-wrapper two">
                            <div class="content">
                                <div class="icon">
                                    <img src="static/assets/images/icons/sale.png">
                                </div>
                                <div class="sentence">
                                    <h3>ATTRACTIVE PRICES</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates
                                        asperiores iusto error
                                        quo sed nobis</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="choose-wrapper three">
                            <div class="content">
                                <div class="icon">
                                    <img src="static/assets/images/icons/event.png">
                                </div>
                                <div class="sentence">
                                    <h3>EVENTS</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates
                                        asperiores iusto error
                                        quo sed nobis</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="choose-wrapper four">
                            <div class="content">
                                <div class="icon">
                                    <img src="static/assets/images/icons/teacher.png">
                                </div>
                                <div class="sentence">
                                    <h3>TALENTE TEACHERS</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates
                                        asperiores iusto error
                                        quo sed nobis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!-- =================bg-02 section================= -->

        <section class="bg-02">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="content">
                            <h2>We are the top learning platform</h2>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dignissimos, harum cum vitae delectus voluptates fuga mollitia
                              cumque obcaecati praesentium quas nostrum adipisci voluptate nobis! Vitae aperiam iusto corrupti sunt.</p>

                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio dignissimos, harum cum vitae delectus voluptates fuga mollitia
                              cumque obcaecati praesentium quas nostrum adipisci voluptate nobis! Vitae aperiam iusto corrupti sunt.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="content">
                            <div class="shap-img">
                                <img class="shap-img-1" src="static/assets/images/abt/1.jpg">
                                <img class="shap-img-2" src="static/assets/images/abt/2.jpg">
                                <img class="shap-img-3" src="static/assets/images/abt/3.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================bg-03 section================= -->

        <section class="bg-03">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>POPULAR CATEGORY</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/design.png">
                                <h3>DEVELOPMENT</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique laborum
                                necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/coin.png">
                                <h3>BUSINESS</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/budget.png">
                                <h3>ACCOUNTING</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/monitor.png">
                                <h3>SOFTWARE</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/art.png">
                                <h3>ARTS & DESIGN</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/mail.png">
                                <h3>MARKETING</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/photo.png">
                                <h3>PHOTOGRAPHY</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/gym.png">
                                <h3>HEALTH FITNESS</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/account.png">
                                <h3>LIFESTYLE</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <!-- =================bg-04 section================= -->

       <section class="bg-04">
           <div class="container">
               <div class="row">
                   <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                       <div class="cal-01">
                            <i class="fal fa-university"></i>
                            <div class="counting" data-count="50">0</div>
                       </div>
                   </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                      <div class="cal-01">
                        <i class="fal fa-graduation-cap"></i>
                        <div class="counting" data-count="20">0</div>
                      </div>
                   </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="cal-01">
                        <i class="fal fa-trophy"></i>
                        <div class="counting" data-count="75">0</div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <div class="cal-01">
                        <i class="fal fa-chalkboard-teacher"></i>
                        <div class="counting" data-count="30">0</div>
                    </div>
                  </div>
               </div>
           </div>
       </section>

    <!-- =================bg-05 section================= -->

        <section class="bg-05">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>Our Team</h2>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/1.jpg">
                            </div>
                            <div class="team-content">
                                <h3>James</h3>
                                <p>Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/3.jpg">
                            </div>
                            <div class="team-content">
                                <h3>Albert</h3>
                                <p>Art Designer</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/2.jpg">
                            </div>
                            <div class="team-content">
                                <h3>Johns</h3>
                                <p>SEO</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="team-wrapper">
                            <div class="team-img">
                                <img src="static/assets/images/team/4.jpg">
                            </div>
                            <div class="team-content">
                                <h3>Smith</h3>
                                <p>Developer</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================bg-06 section================= -->

        <section class="bg-06">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>Our News</h2>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <article class="blog-sub">
                            <div class="blog-content">
                                <img src="static/assets/images/blog/img-01.jpg">
                            </div>
                            <div class="blog-content-section">
                                <div class="blo-content-title">
                                    <h4>The National Minimum Wage Is An Important Part</h4>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                        praesentium
                                        facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo
                                        fugit
                                        animi assumenda.</p>
                                </div>
                                <div class="blog-admin">
                                    <ol>
                                        <li><i class="fal fa-user-tie"></i> By Admin</li>
                                        <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                    </ol>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <article class="blog-sub">
                            <div class="blog-content">
                                <img src="static/assets/images/blog/img-02.jpg">
                            </div>
                            <div class="blog-content-section">
                                <div class="blo-content-title">
                                    <h4>The National Minimum Wage Is An Important Part</h4>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                        praesentium
                                        facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo
                                        fugit
                                        animi assumenda.</p>
                                </div>
                                <div class="blog-admin">
                                    <ol>
                                        <li><i class="fal fa-user-tie"></i> By Admin</li>
                                        <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                    </ol>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <article class="blog-sub">
                            <div class="blog-content">
                                <img src="static/assets/images/blog/img-03.jpg">
                            </div>
                            <div class="blog-content-section">
                                <div class="blo-content-title">
                                    <h4>The National Minimum Wage Is An Important Part</h4>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut
                                        praesentium
                                        facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo
                                        fugit
                                        animi assumenda.</p>
                                </div>
                                <div class="blog-admin">
                                    <ol>
                                        <li><i class="fal fa-user-tie"></i> By Admin</li>
                                        <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>
                                    </ol>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
