{% extends 'base.html' %}
{% block body %}

    <main>
        <section class="abt-01">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="seting">
                            <h3>Services</h3>
                            <ol>
                                <li>Home <i class="fas fa-chevron-double-right"></i></li>
                                <li>Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- =================bg-03 section================= -->

        <section class="bg-03">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading">
                            <h2>POPULAR CATEGORY</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/design.png">
                                <h3>DEVELOPMENT</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/coin.png">
                                <h3>BUSINESS</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/budget.png">
                                <h3>ACCOUNTING</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/monitor.png">
                                <h3>SOFTWARE</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/art.png">
                                <h3>ARTS & DESIGN</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/mail.png">
                                <h3>MARKETING</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/photo.png">
                                <h3>PHOTOGRAPHY</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/gym.png">
                                <h3>HEALTH FITNESS</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="cat-wrapper">
                            <div class="content">
                                <img src="static/assets/images/icons/account.png">
                                <h3>LIFESTYLE</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias excepturi
                                    fugit, similique
                                    laborum
                                    necessitatibus?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

      

{% endblock  %}